body {
    background: url(images/street.jpg) center center fixed;
    background-size: cover;
    color: white;
    font-family: Arvo, serif;
}

.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1 {
    letter-spacing: 2.5px;
}

.jumbotron h1, .jumbotron p {
    text-align: center;
}

#googleMap {
    width: 100%;
    height: 200px;
    margin: 10px auto;
}

#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}